html, body {
    height: 100vh;
}

.wrapper {
    background-color: #A1C3D7;
}

.col-sm-10 {
    background-color: white;
    height: 100vh;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

/*Panel Styling*/
.totalResponsesCss {
    background-image: none;
    background-color: #6FCF97;
    color: white;
}
.totalQuestionsCss {
    background-image: none;
    background-color: #D28CED;
    color: white;
}

.totalOpenQuestionsCss {
    background-image: none;
    background-color: #EEAE76;
    color: white;
}

.totalMetricCss {
    background-image: none;
    background-color: #8BC3E3;
    color: white;
}

div.metricsWrapper {
    padding: 0 0 0 0;
    padding-left: 30px;
    padding-right: 30px;
}

div.panel-footer {
    border: none;

}

div.panel.panel-default{
    border-radius:0;
    border: none;
}

/*End Panel Styling*/
.dashboard {
    margin-left: 30px;
}

.questionfilter {
    margin-left: 30px;
    margin-right: 30px;
}

.graphwrapper {
    border: 1px solid black;
}

