html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    overflow: auto;
}

.wrapper {
    background-color: #A1C3D7;
    height: 100%;
    overflow: auto;
}

.col-sm-10 {
    background-color: white;
    height: 100%;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.contents {
    margin-left: 30px;
    margin-right: 30px;
}

/*Panel Styling*/
.metricsWrapper {
    padding-top: 40px;
}
.page-header.pageHeader {
    padding-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

.totalResponsesCss {
    background-image: none;
    background-color: #6FCF97;
    color: white;
}
.totalQuestionsCss {
    background-image: none;
    background-color: #D28CED;
    color: white;
}

.totalOpenQuestionsCss {
    background-image: none;
    background-color: #EEAE76;
    color: white;
}

.totalMetricCss {
    background-image: none;
    background-color: #8BC3E3;
    color: white;
}

div.panel-footer {
    border: none;
}

div.panel.panel-default{
    border-radius:0;
    border: none;
}

/*End Panel Styling*/

.contentBackground {
    background-color: #ededed;
}